@use "sass:color";


$font-rubrik: "Rubrik", sans-serif;
$font-jersey10: "Jersey 10", sans-serif;


@mixin set-font($font, $weight: 400) {
    font-weight: $weight;
    font-style: normal;

    @if ($font == $font-rubrik) {
        font-family: $font;
        font-optical-sizing: auto;
        color: green;
    } @else {
        color: red;
    }
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}


body {
    background-color: color.adjust(#45B0AD, $lightness: -20%);
    width: 100dvw;
    height: 100dvh;
    @include set-font($font-jersey10, 500);
}


main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    .tile {
        background-color: aqua;
        box-shadow: inset -4px 10px 6px 0px rgba(0, 0, 0, .2);
    }
}